{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "jest"
  ],
  "extends": [
    "prettier",
    "prettier/@typescript-eslint",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "no-explicit-any": "off",
    "@typescript-eslint/no-explicit-any": ["warn"],
    "no-var-requires": "off",
    "@typescript-eslint/no-var-requires": ["warn"]
  }
}